body {
  margin: 0;
  font-family: var(--font-family-base);
  background-color: var(--background-light-color);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: var(--spacing-base);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-base);
  position: relative;
}

.book-list {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  padding-top: var(--spacing-base);
}

.add-book-button {
  background-color: var(--btn-bg-dark-color);
  color: var(--btn-text-light-color);
  border: none;
  border-radius: var(--border-radius-base);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  cursor: pointer;
}

.add-book-button:hover {
  background-color: var(--btn-bg-light-color);
}
