.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark-color);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--text-light-color);
}

.footer p {
  margin: 0;
  font-size: var(--font-size-base);
}
