:root {
  --font-family-base: "Helvetica Neue", Arial, sans-serif;
  --font-size-sm: 0.5rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.5rem;

  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.5rem;

  --border-radius-sm: 0.5rem;
  --border-radius-base: 1rem;
  --border-radius-lg: 1.5rem;

  --height-sm: 2rem;
  --height-base: 4rem;
  --height-lg: 6rem;

  --width-sm: 2rem;
  --width-base: 4rem;
  --width-lg: 6rem;

  --background-really-light-color: #ffd4d4;
  --background-light-color: #ffffe8;
  --background-base-color: #cde990;
  --background-dark-color: #aacb73;

  --text-really-light-color: #ffd4d4;
  --text-light-color: #ffffe8;
  --text-base-color: #cde990;
  --text-dark-color: #aacb73;
  --text-error-color: red;

  --btn-bg-really-light-color: #ffd4d4;
  --btn-bg-light-color: #ffffe8;
  --btn-bg-base-color: #cde990;
  --btn-bg-dark-color: #aacb73;

  --btn-text-really-light-color: #ffd4d4;
  --btn-text-light-color: #ffffe8;
  --btn-text-base-color: #cde990;
  --btn-text-dark-color: #aacb73;
}
